
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.3fr 1fr;
  grid-template-areas:
  "nav nav nav nav" 
  "sidebar main main main"
  "sidebar content1 content2 content3"
  "footer footer footer footer";
  grid-gap: 0.2rem;
}
.links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 30px;  
}
.links2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 30px;  
}
a {
  text-decoration: underline;
  color: black;
}
.img1 {
  width: 450px;
  margin-bottom: 66px;
  margin-top: 25px;
}
.img2 {
  width: 450px;
}
.img3 { 
  margin: 0%;
  padding: 0%;
}
.img4 {
  height: 450px;
  width: 500px;
}
nav {
  grid-area: nav;
  background-color: rgb(138, 138, 248);
}
main {
  grid-area: main;
  font-size: 25px;
  padding: 20px;
  font-family: 'Xanh Mono', monospace;

}
#sidebar {
  grid-area: sidebar;
}
#content1 { 
  grid-area: content1;
}
#content2 {
  grid-area: content2;
}
#content3 {
  grid-area: content3;
}
#footer {
  background-color: rgb(138, 138, 248);
  grid-area: footer;
  height: 100px;
} 
.P1 {
  margin-top: 50px;
  margin-right: 50px;
}
table {
  width: 600px;
  height: 500px;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
@media only screen and (max-width: 768px) {
  .container{
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav"
    "sidebar main"
    "content1 content2"
    "content3 content2"
    "footer footer";
  }
  .img1 {
    width: 350px;
  }
  .img2 {
    display: flex;
    width: 350px;
  }
  .img3 { 
    margin: 0%;
    padding: 0%;
  }
  .img4 {
    height: 150px;
    width: 350px;
  }
  nav {
    grid-area: nav;
    background-color: rgb(138, 138, 248);
    width: 100%;
  }
  main {
    grid-area: main;
    font-size: 15px;
    padding: 0px;
    font-family: 'Xanh Mono', monospace;
    width: 300px;
  
  }
  #sidebar {
    grid-area: sidebar;
  }
  #content1 { 
    grid-area: content1;
    text-align: left;
    margin-right: 100px;
  }
  #content2 {
    grid-area: content2;
  }
  #content3 {
    grid-area: content3;

  }
  #footer {
    background-color: rgb(138, 138, 248);
    grid-area: footer;
    height: 100px;
    width: 100%;
  }
  .P1 {
      border: 3px solid rgb(138, 138, 248);
    }
  table {
      width: 300px ;
      height: 600px;
      text-align: left;
    }
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
}
@media only screen and (max-width: 425px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:"nav""sidebar""main""content1""content2""content3""footer";
  }
  .img1 {
    width: 50%;
    margin-right: 43px;
  }
  .img2 {
    width: 50%;
    margin-bottom: 66px;
  }
  .img3 { 
    margin: 0%;
    padding: 0%;
    height: 70px;
  }
  .img4 {
    height: 150px;
    width: 100%;
  }
  nav {
    grid-area: nav;
    background-color: rgb(138, 138, 248);
    width: 100%;

  }
  main {
    grid-area: main;
    font-size: 13px;
    padding: 0px;
    font-family: 'Xanh Mono', monospace;
    width: 300px;
  
  }
  #sidebar {
    grid-area: sidebar;
  }
  #content1 { 
    grid-area: content1;
    text-align: left;
    margin-right: 100px;
  }
  #content2 {
    grid-area: content2;
    width: 1px;
  }
  #content3 {
    grid-area: content3;
  }
  #footer {
    background-color: rgb(138, 138, 248);
    grid-area: footer;
    height: 100px;
    width: 100%;
  }
  .P1 {
      margin-top: 20px;
      margin-right: 45px;
      border: 3px solid rgb(138, 138, 248);
    }
  table {
      width: 5px;
      text-align: left;
      height: 100px;
    }
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;}